html,
body {
  padding: 0;
  margin: 0;
}
body {
  background: url("welcome.jpeg") 100% no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  padding-top: 280px;
}
body .sign-in {
  position: absolute;
  top: nazerke;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  margin: 0px 50px 30px 25px;
  border: 8px solid transparent;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
body .sign-in .table {
  padding: 0px 0 0 0;
}
body .sign-in h1 {
  color: white;
}
body input {
  display: block;
  font-size: 1em;
  width: 260px;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid burlywood;
  color: burlywood;
  padding-left: 10px;
}
body button {
  width: 50%;
  font-size: 2em;
  border-radius: 10px;
  background: burlywood;
  color: beige;
}
body input {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
body input:hover {
  background-color: burlywood;
  color: black;
}
body .btn {
  background-color: white;
  color: white;
  border-radius: 5px;
  border: 1px solid burlywood;
  padding: 5px;
  color: black;
  width: 100px;
  height: 40px;
  margin: 150px 150px 700px 650px;
}
