body {
  background: url("https://images.unsplash.com/photo-1569576231685-8a0bb772d2f7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80")
    left top no-repeat;
  background-size: fixed;
}

.news {
  font-family: Montserrat;
  font-size: 100%;
  padding: 7px;
}
.bg {
  background-color: white;
}
.list a {
  padding: 20px;
  color: white;
  text-decoration: none;
  font-size: 150%;
}

.list {
  display: flex;
  align-content: space-around;

  align-items: center;
  justify-content: center;
}
.title {
  font-family: Great Vibes;
  font-color: #57334b;
  font-size: 200%;
}
.pad {
  padding: 70px;
  margin-top: -800px;

  margin-right: 0px;
  margin-left: 0px;
}
.help {
  background-color: rgba(92, 77, 77, 0.9);
  margin-top: -700px;
  margin-bottom: 100px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 50px;
}
.features {
  margin-top: -800px;
  margin-bottom: 800px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 50px;
}
.button1 {
  border-color: white;
  border-width: 1px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-size: 130%;
  cursor: pointer;
  background-color: transparent;
  font-family: Cutive Mono;
}

.button2 {
  border-color: white;
  border-width: 1px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-size: 130%;
  cursor: pointer;
  background-color: transparent;
  font-family: Cutive Mono;
}

.pets {
  width: 250px;
  height: 300px;
}
.divs {
  font-family: Great Vibes;
  font-color: #57334b;
  font-size: 200%;
}
.divs:hover {
  font-size: 250%;
}
#panel,
#flip {
  padding: 2px;
  text-align: center;
  background-color: #89657d;
  border: solid 1px #563e4e;
}
#panel {
  padding: 50px;
  display: none;
}
#panel2,
#flip2 {
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: #555;
  color: white;
  border: solid 1px #666;
  border-radius: 3px;
}

#panel2 {
  padding: 50px;
  display: none;
}
.advertisement {
  position: fixed;
  bottom: 0;
  left: 25%;
  width: 50%;
  z-index: 2;
  background-color: #cae8ed;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-family: "Satisfy";
}
.advertisement a {
  text-decoration: none;
  color: black;
  font-weight: 900;
  border-width: 4px;
  border-color: black;
  border-style: solid;
  border-radius: 50px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 30px;
}
.knopka {
  text-decoration: none;
  color: black;
  font-weight: 900;
  letter-spacing: 2px;
  display: inline-block;

  text-align: center;
  position: relative;
  font-family: "Satisfy";
}
.knopka:hover {
  color: white;
  background-color: #218294;
}
.sale {
  color: red;
  font-family: Arial;
}
/*    Video    */
.video {
  display: block;
  width: 100%;
  height: 600px;
  text-align: center;
  margin-top: 0px;
  background: url("cat.jpg") 50% 50%no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.video .youtube {
  margin-top: 185px;
}

.video h3 {
  color: #fff;
  font-family: "raleway-regular";
  font-size: 14px;
  font-weight: normal !important;
  margin: 170px 0 0 0;
}

.video #play_btn {
  display: inline-block;
  width: 80px;
  height: 71px;
  background: url("play_btn.png") no-repeat;
  margin-top: 275px;
}

@media only screen and (max-width: 600px) {
}
